.footer {
    transition: all 0.2s ease-in-out;
    margin-left: 17.125rem;
    .nav-link {
        color: $dark;
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;
        padding-top: 0;
        padding-bottom: $nav-link-footer-padding;

        &:hover {
            opacity: 1 !important;
            transition: $footer-link-animation;
        }
    }
    @media (max-width: 1199px) {
        margin-left: 0 !important;
    }
}
